.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

.venv/

__pycache__/

static/dst_graph.html
static/src_graph.html
static/src.ir
static/dst.ir

build/

ExecutingOrderPreCheck.spec

*.log
